<div class="tbAluno">
    <h1>Estatos do Aluno</h1>
    <table>
        <tr>
            <td>Nome</td>
            <td>Modeia</td>
            <td>Estatos</td>
        </tr>
        <tr>
            <td>{{apv.nome}}</td>
            <td>{{apv.media}}</td>
            <td>{{apv.aprov}}</td>
        </tr>
    </table>
</div>
