<div class="divAluno">
    <h1>Fomulario Media Aluno</h1>
    <form action="/add" method="post">
        <label>Nome do Aluno:</label><br/>
        <input type="text" name="nome"><br/>

        <label>Nota primeira prova</label><br/>
        <input type="number" name="not1"><br/>

        <label>Nota segunda prova</label><br/>
        <input type="number" name="not2"><br/>

        <button type="submit">Enviar</button>
    </form>
</div>
